#root {
  margin: 10px;
  box-sizing: border-box;
}

textarea {
  width: 90%;
  min-height: 150px;
  font-size: 20px;
}

.pinyin {
  color: #888;
  font-size: 16px;
  margin-right: 2px;
}

.hanzi {
  font-family: 'Noto Sans SC', sans-serif;
  font-size: 20px;
}

.row {
  margin-top: 16px;
}

