#root {
  position: relative;
  margin: 10px;
  box-sizing: border-box;
}

.menu-button {
  position: fixed;
  top: 20px;
  left: 0;
  z-index: 2;
  cursor: pointer;
  background-color: beige;
  border-radius: 20px;
}

.menu {
  position: absolute;
  left: -10px;
  top: -10px;
  box-sizing: border-box;
  width: 100%;
  height: 100vh;
  z-index: 1;
  background-color: azure;
  padding: 40px;
}